body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
    width: 90%;
    max-width: 400px;
}

h1 {
    text-align: center;
    color: #333;
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

#task-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
}

#add-task-btn {
    padding: 10px;
    border: none;
    background-color: lime;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#add-task-btn:hover {
    background-color: limegreen;
}

#task-list {
    list-style: none;
    padding: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.task-item.completed {
    text-decoration: line-through;
    color: #888;
}

.task-item button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: black;
}

.task-item button:hover {
    color: #c82333;
}
.delete-btn
{
    font-size: 30px;
}